@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main{
    display: flex;
    flex-direction: column;
    width: 100%;


    
}

.row{
    
    justify-content: space-between;
    align-content: space-between;
    
    width: 100%;
    margin-left: 2px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    
}

.t{
    color:white;
    transition: transform .2s; /* Animation */
}
.t:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    color:yellow;
}   
   
.col-5{
    margin:auto;
    margin-top: 20px;
    background: rgba(35, 34, 34, 0.48);
    transition: transform .2s; /* Animation */
    
 
}
.col-5:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
}   
    

    
